<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" 
     href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" 
     href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Coding Dojo Survey</title>
</head>
<body>
    <div class="container">
        <h1>Coding Dojo Survey</h1>
        <hr>
        <form action="/result" method="post">
            <label for="your_name">Your Name:
            <input type="text" name="your_name" placeholder="Keith Richards">
            </label>

            <label for="dojo_location">Dojo Location:
            <select name="dojo_location">
                <option value="DC">DC</option>
                <option value="Seattle">Seattle</option>
                <option value="Tulsa">Tulsa</option>
                <option value="Dallas">Dallas</option>
                <option value="San Jose">San Jose</option>
                <option value="Online">Online</option>
            </select>
            </label>

            <label for="favorite_language">Favorite Language:
            <select name="favorite_language">
                <option value="Python">Python</option>
                <option value="C#/.NET">C#/.NET</option>
                <option value="Ruby">Ruby</option>
                <option value="Mean">Mean</option>
                <option value="Swift">Swift</option>
                <option value="Java">Java</option>
            </select>
            </label>

            <label for="comment">Comments (optional):</label>
            <textarea name="comment" id="" cols="30" rows="10"></textarea>
            <br>
            <button type="submit">Submit!</button>
        </form>
    </div>
</body>
</html>